---
layout: openmind
title: 首页
---

<div class="row">
	<div class="col-xs-12 col-sm-6 col-md-9">
		{% for post in site.posts limit:10 %}
			{%include post.html%}
		{% endfor %}
	</div>
	<div class="col-xs-12 col-sm-6 col-md-3">
		<div class="panel panel-default">
			<div class="panel-heading">最新评论</div>
			<div class="panel-body">
				<ul class="ds-recent-comments" data-num-items="5" data-show-avatars="1" data-show-time="1" data-show-title="1" data-show-admin="1" data-excerpt-length="70"></ul>
				<script>if (typeof DUOSHUO !== 'undefined') DUOSHUO.RecentComments('.ds-recent-visitors');</script>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">最近访客</div>
			<div class="panel-body">
				<ul class="ds-recent-visitors" data-num-items="10"></ul>
				<script>if (typeof DUOSHUO !== 'undefined') DUOSHUO.RecentVisitors('.ds-recent-visitors');</script>
			</div>
		</div>
	</div>
</div>